.top {
  padding-top: 12px;
}

.oi {
  top: 0px;
  vertical-align: middle;
}

.image {
  fill: #428bca;
}
.data-transfer-upload {
  fill: #5cb85c;
}

.transfer {
  fill: #ffc107;
}

.description {
  height: 29px;
}

.icon {
  padding-left: 10px;
}

.icon > * {
  width: 12px;
  height: 12px;
  padding-left: 0px;
}
