<div class="container container-fluid d-print-none">
  <div class="row">
    <div class="col-12 col-md-9 offset-md-3 top">
      <div class="col-12">
        <div class="input-group">
          <input #containerDescription id="containerDescription" class="col-10 col-md-11 form-control" hidden
                 placeholder="Container's description" aria-label="Container's description"
                 (keyup.enter)="addDescription(containerDescription.value)"
                 (blur)="addDescription(containerDescription.value)"
                 value="{{container ? container.description : ''}}"/>
          <div #displayDescription id="displayDescription" class="col-10 col-md-11 description align-middle">
            <span>{{container ? container.description : ''}}</span>
          </div>
          <div class="input-group-append align-middle">
            <span #pencil id="pencil" class="input-group-text align-middle icon"
                  (click)="toggleContainerDescriptionInput()">
              <svg viewBox="0 0 8 8">
                <use xlink:href="assets/open-iconic/open-iconic.min.svg#pencil"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 top">
      <div class="col-md-12 col-sm-12">
        <div *ngIf="container" class="title"><h5>{{container.name}} container details</h5></div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button type="button" id="generateSticker" class="btn btn-light btn-block"
                    (click)="generateSticker()">
              Print sticker
            </button>
          </div>
          <div class="col-sm-12 form-group">
            <ng-item #itemForContainer class="col-sm-12" id="itemForContainer"></ng-item>
          </div>
          <div class="col-sm-12 form-group">
            <button type="button" id="addItemToContainer" class="btn btn-light btn-block"
                    (click)="addItemToContainer(itemForContainer)">
              Add to container
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12 top">
      <div class="col-12">
        <div class="row-fluid" *ngIf="container">
          <div class="col-12 align-self-end text-right">
            <h5># of item(s): {{container.items?.length}}</h5>
          </div>
          <div>
            <ul class="list-group">
              <li *ngFor="let item of container.items" class="list-group-item">
                <div class="row">
                  <div class="col-md-10 col-10">
                    <div>
                      <span *ngIf="item" [outerHTML]="item.item | item"></span>
                    </div>
                    <div *ngIf="item.item.imageStore" class="row col-4">
                      <img *ngIf="item.item.imageStore.images" src="{{getThumbnail(item.item.imageStore.images[0])}}" (click)="openCarousel(item.item.imageStore)">
                    </div>
                  </div>
                  <div class="col-md-2 col-2 justify-content-end align-self-center">
                  <span class="cursor-pointer icon" (click)="openUploadModal(item)">
                    <svg viewBox="0 0 8 8">
                      <use xlink:href="assets/open-iconic/open-iconic.min.svg#image" class="image"></use>
                    </svg>
                  </span>
                    <span class="cursor-pointer icon" (click)="openExtractItemFromContainer(item)">
                    <svg viewBox="0 0 8 8">
                      <use xlink:href="assets/open-iconic/open-iconic.min.svg#data-transfer-upload"
                           class="data-transfer-upload"></use>
                    </svg>
                  </span>
                    <span class="cursor-pointer icon" (click)="openTransferToExistingContainer(item)">
                    <svg viewBox="0 0 8 8" class="icon">
                      <use xlink:href="assets/open-iconic/open-iconic.min.svg#transfer" class="transfer"></use>
                    </svg>
                  </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
