<div class="form-group col-md-12" [formGroup]="addItemForm">
  <div class="row">
    <div class="col-md-12">
      <h5>Item</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="featureType">Feature:</label>
    </div>
    <div class="col-md-8 row form-group">
      <div class="col-md-6">
        <input #featureType id="featureType" class="form-control col-md-12" [ngClass]="{
                  'is-invalid': featureTypeFormControl.invalid && (featureTypeFormControl.dirty || featureTypeFormControl.touched),
                  'is-valid': featureTypeFormControl.valid && (featureTypeFormControl.dirty || featureTypeFormControl.touched)}"
               formControlName="featureTypeFormControl" required>
        <div id="featureTypeFeedback" class="invalid-feedback">
          Please fill a feature type
        </div>
      </div>
      <div class="col-md-6">
        <input #feature id="featureValue" class="form-control col-md-12" [ngClass]="{
                  'is-invalid': featureValueFormControl.invalid && (featureValueFormControl.dirty || featureValueFormControl.touched),
                  'is-valid': featureValueFormControl.valid && (featureValueFormControl.dirty || featureValueFormControl.touched)}"
               formControlName="featureValueFormControl" required>
        <div id="featureValueFeedback" class="invalid-feedback">
          Please fill a feature value
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-light"
              (click)="add(featureType.value, feature.value); featureType.value=''; feature.value=''">
        +
      </button>
    </div>
  </div>
</div>
<div class="form-group col-md-12">
  <span *ngIf="getItemToCreate()">Item: {{getItemToCreate()}}</span>
</div>
