<div class="row" [formGroup]="addItemForm">
  <div class="col-10 col-md-10">
    <h5>Item</h5>
    <label for="featureValue">Feature value:</label>
    <div class="form-group">
      <input #feature id="featureValue" class="form-control form-control-sm"
             (blur)="setItemValue(feature.value)"
             (keyup.enter)="setItemValue(feature.value)"
             [ngClass]="{
                  'is-invalid': featureValueFormControl.invalid && (featureValueFormControl.dirty || featureValueFormControl.touched),
                  'is-valid': featureValueFormControl.valid && (featureValueFormControl.dirty || featureValueFormControl.touched)}"
             formControlName="featureValueFormControl" required>
      <div id="featureValueFeedback" class="invalid-feedback">
        Please fill a feature value
      </div>
    </div>
  </div>
</div>
