.location {
  margin-left: 1rem;
  margin-top: 1rem;
}

.location .title h5 {
  text-transform: uppercase;
  color: #bbb;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
}

.location .qrcode {
  width: 64px;
  height: 64px;
}

.cursor-pointer {
  cursor: pointer;
}
