<div class="wrapper">
  <ng-error-message class="header"></ng-error-message>
  <div class="content">
    <div class="sidebar">
      <div class="container-fluid">
        <div [formGroup]="addLocationForm">
          <div class="location row">
            <div class="title"><h5>Add location</h5></div>
            <div class="row">
              <div class="row col-sm-12 form-group">
                <label for="locationName">
                  Location name:
                </label>
                <input #locationName id="locationName" class="form-control form-control-sm" [ngClass]="{
                'is-invalid': locationNameFormControl.invalid && (locationNameFormControl.dirty || locationNameFormControl.touched),
                'is-valid': locationNameFormControl.valid && (locationNameFormControl.dirty || locationNameFormControl.touched)}"
                       formControlName="locationNameFormControl" required/>
                <div id="locationNameFeedback" class="invalid-feedback">
                  Please choose a location name.
                </div>
              </div>
              <ng-item class="row col-sm-12" id="itemForLocation"></ng-item>
            </div>
            <div class="row col-sm-12">
              <button type="button" id="addLocation" class="btn btn-light btn-block"
                      (click)="addLocation(locationName.value); locationName.value=''">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="col-10">
        <div class="row-fluid">
          <ul class="list-group col-md-12">
            <li *ngFor="let location of locations; let i = index" class="list-group-item col-md-12">
              <div id="locations" class="row">
                <div class="col-md-6">
                  {{location.location}}
                </div>
                <div class="col-md-1 offset-4">
                  <span class="badge badge-light badge-pill">{{location.items.length}}</span>
                </div>
                <div class="col-md-1">
                  <span class="cursor-pointer oi oi-eye" width="8" color="grey" (click)="getDetails(location.id)"></span>
                  <span class="cursor-pointer oi oi-print" width="8" color="grey" (click)="generateSticker(location.id)"></span>
                  <span class="cursor-pointer oi oi-arrow-circle-bottom" width="8" color="grey" (click)="collapse(i)"></span>
                </div>
              </div>
              <div [ngbCollapse]="isCollapsed[i]" class="collapse show" #locationCollapse="ngbCollapse">
                <div class="card-body">
                  <div class="row col-sm-12">
                    <div class="col-sm-9">
                      <ul class="list-group list-group-flush">
                        <li *ngFor="let item of location.items" class="list-group-item item d-flex justify-content-between col-md-12">
                          <div><span *ngIf="item" [outerHTML]="item.item | item"></span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <div class="location">
                        <ngx-qrcode
                          qrc-element-type="url"
                          [qrc-value]="currentLocation + '/locations/' + location.id"
                          qrc-version="5" qrc-class="qrcode"></ngx-qrcode>
                      </div>
                    </div>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-4 offset-8 location-content">
                      <button type="button" [attr.id]="'generateSticker' + i" class="btn btn-light btn-block"
                              (click)="generateSticker(location.id)">
                        Print {{location.location}}
                      </button>
                    </div>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-8">
                      <ng-item #itemToCreate [attr.id]="'itemToCreate' + i"></ng-item>
                    </div>
                    <div class="col-sm-4 align-middle">
                      <button type="button" [attr.id]="'addItemToLocation' + i" class="btn btn-light btn-block"
                              (click)="addItemToLocation(location.id, itemToCreate)">
                        Add to location {{location.location}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
