<div class="row col-md-12">
  <div [formGroup]="addLocationForm">

    <div class="container-fluid location col-md-12">
      <h2>Add location</h2>

      <div class="row col-md-12">
        <div class="form-group col-md-12">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="col-md-3">
                <label for="locationName">
                  Location name:
                </label>
              </div>
              <div class="col-md-9 form-group">
                <input #locationName id="locationName" class="form-control" [ngClass]="{
                'is-invalid': locationNameFormControl.invalid && (locationNameFormControl.dirty || locationNameFormControl.touched),
                'is-valid': locationNameFormControl.valid && (locationNameFormControl.dirty || locationNameFormControl.touched)}"
                       formControlName="locationNameFormControl" required/>
                <div id="locationNameFeedback" class="invalid-feedback">
                  Please choose a location name.
                </div>
              </div>
            </div>
          </div>
          <app-item></app-item>
          <div class="form-group col-md-12 offset-10">
            <button type="button" id="addLocation" class="btn btn-light"
                    (click)="addLocation(locationName.value); locationName.value=''">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row col-md-12">
  <div *ngFor="let location of locations" class="col-md-12">
    <div class="col-md-8" id="locations">
      <button type="button" class="btn btn-light">
        {{location.location}}
      </button>
    </div>
    <!--li *ngFor="let item of location.items">
      <span>
          Item: {{item.item | pair}}
        </span>
    </li-->
    <!--img src="data:image/png;base64,{{location.qrcode}}"/-->
  </div>
</div>
