<div class="modal-header col-sm-12">
  <h4 class="modal-title">Upload Images</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body col-12">
  <div class="row col-12 upload">
    <div class="col-sm-4">
      <div ng2FileDrop
           [uploader]="uploader"
           class="drop-file">
        Drop files here
      </div>
    </div>
    <div class="col-sm-8">
      Or select from here
      <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
    </div>
  </div>
  <div class="col-12">
    <div>
      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>
    </div>

    <div class="row">
      <div class="col-5">Name</div>
      <div class="col-4">Status</div>
      <div class="col-3">Delete</div>
    </div>
    <div class="row" *ngFor="let item of uploader.queue; let i = index" [attr.data-index]="i">
      <div class="col-5"><strong>{{ item?.file?.name | truncate:12}}</strong></div>
      <div class="col-4">
            <span *ngIf="item.isSuccess" class="icon">
              <svg viewBox="0 0 18 18" class="icon">
                <use xlink:href="assets/open-iconic/open-iconic.min.svg#check"
                     class="check"></use>
              </svg>
            </span>
        <span *ngIf="item.isCancel" class="icon">
              <svg viewBox="0 0 18 18" class="icon">
                <use xlink:href="assets/open-iconic/open-iconic.min.svg#ban"
                     class="ban"></use>
              </svg>
            </span>
        <span *ngIf="item.isError" class="icon">
              <svg viewBox="0 0 8 8" class="icon">
                <use xlink:href="assets/open-iconic/open-iconic.min.svg#x"
                     class="x"></use>
              </svg></span>
      </div>
      <div class="col-3 col-md-2 justify-content-end align-self-center">
          <span class="cursor-pointer icon">
            <svg viewBox="0 0 8 8" class="icon" (click)="remove(item)">
              <use xlink:href="assets/open-iconic/open-iconic.min.svg#trash"
                   class="trash"></use>
            </svg>
          </span>
      </div>
    </div>

    <div>
      <div>
        Queue progress:
        <div class="progress upload">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s"
              (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s"
              (click)="cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s"
              (click)="removeAll()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>
  </div>
</div>

<div class="modal-footer col-sm-12">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
