.sticker {
  border: 1px dashed;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1rem;
  margin-left: 0;
}

.sticker div {
  padding-top: 0.5rem;
}

.line {
  border-bottom: 1px solid grey;
}
